Source: cw1-6005-cs16g08
Section: net
Priority: optional
Maintainer: Craig Saunders <cs16g08@ecs.soton.ac.uk>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.8.4
Homepage: https://github.com/Mrman/INFO6005-Coursework

Package: cw1-6005-cs16g08
Architecture: all
Depends: ${misc:Depends}, php5-cli (>= 5), debconf
Description: PHP RSS Feed Reader
 Simple PHP based RSS feed reader. Executes via command line to read RSS feed.
 Read feeds in configuration file or will take feed arguments.ii
