Package: cw1-6005-cs16g08
Priority: optional
Section: php
Maintainer: Craig Saunders <cs16g08@ecs.soton.ac.uk>
Version: 1.0
Source: cw1-6005-cs16g08
Priority: optional
Architecture: all
Depends: php5-cli
Homepage: https://github.com/info6005/6005_cw1_2012
Description: PHP RSS Feed Reader
 Simple PHP based RSS feed reader. Executes via command line to read RSS feed.
 Feeds to be read are specified in a file or as arguments on the command line.
